:root {
    --dark-cyan: hsl(158, 36%, 37%);
    --dark-cyan_hover: hsl(158, 36%, 17%);
    --clr-cream: hsl(30, 38%, 92%);

    --dark-blue: hsl(212, 21%, 14%);
    --grayish-blue: hsl(228, 12%, 48%);
    --white: hsl(0, 0%, 100%);

    --ff-accent: 'Fraunces', serif;
    --ff-base: 'Montserrat', sans-serif;
}

*, *::before, *::after {
    box-sizing: border-box;
  }
  * {
    margin: 0;
  }
  html, body {
    height: 100%;
  }
  body {
    line-height: 1.7;
    -webkit-font-smoothing: antialiased;
  }
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  input, button, textarea, select {
    font: inherit;
  }
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }

  body {
    font-family: var(--ff-base);
    font-weight: 500;
    color: var(--grayish-blue);
    font-size: 0.875rem;
    background-color: var(--clr-cream);

    /* for this project only */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    min-height:100vh; 
  }

  .flex-group {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    align-items: center;
  }

  .product {
    background-color: var(--white);
    border-radius: 0.5rem;
    overflow: hidden;
    max-width: 600px;;
  }

  .product__content {
    padding: 0.8rem;
    display: flex;
    flex-direction: column;
  }

.category {
    font-size: 0.8125rem;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
}
h1 {
    font-family: var(--ff-accent);
    font-size: 2rem;
    line-height: 1;
    color: var(--dark-blue);
}

p {
    padding-block: 1rem;
}

.new_price {
    font-family: var(--ff-accent);
    font-size: 2rem;
    color: var(--dark-cyan);
}

.button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    border: none;
    background-color: var(--dark-cyan);
    color: var(--white);
    padding: 0.8rem;
    border-radius: 0.5rem;
    font-weight: 700;
}

.button img {
    width: 15px;
    height: 16px;
    margin-right: 0.75rem;
}

.button:hover {
    background-color: var(--dark-cyan_hover);
}

@media (min-width: 600px){
  .product {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

    .product__content {
    margin-left: 0.6rem;
  }

}